@import "configuration";

html, body {
  min-width: $min_w;
  min-height: $min_h;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Lora', serif;
}

body {
  @include user-select(none);
}

.sv_main_view {
  width: 100%;
  height: 100%;
}