<header class="sv-header">

  <h1 class="sv-header-logo">
    <a ng-href="/#/home" title="Homepage">Studio Vange</a>
  </h1>

  <div class="sv-main-navigation-container">
    <ul class="sv-main-navigation">
      <li class="sv-main-navigation-item"><a ng-href="/#/about">About</a></li>
      <span class="sv-main-navigation-item-separator"></span>
      <li class="sv-main-navigation-item"><a ng-href="/#/projects">Projects</a></li>
      <span class="sv-main-navigation-item-separator"></span>
      <li class="sv-main-navigation-item"><a ng-href="/#/contact">Contact</a></li>
    </ul>
  </div>

</header>